.pagination {
	a {
		display: block;
		border: 1px solid #555555;
		padding: 10px;
		color: $dark;
		font-size: 18px;
		line-height: 27px;
	}
	.active {
		background-color: $dark;
		color: $white;
	}
	.next {
		background-color: #f2f2f2;
	}
	@include breakpoint(phone) {
		a {
			font-size: 12px;
			line-height: 18px;
		}
	}
}
