.productsBanner {
	img {
		width: calc(100% / 2 - 15px);
		&:nth-child(1) {
			margin-right: 30px;
		}
		@include breakpoint(pad) {
			width: calc(100% / 2);
			&:nth-child(1) {
				margin-right: 0px;
			}
		}
	}
}
