.blogNav {
	.container {
		padding: 12px 0 14px;
	}
	&_item {
		margin-right: 48px;
		a {
			color: $white;
			display: block;
		}
		&:hover {
			background-color: $primary;
		}
		@include breakpoint(phone) {
			margin-right: 0;
			width: 100%;
		}
	}
	.search {
		&_input {
			display: none;
		}
	}
	.fa-caret-down {
		display: none;
	}
	@include breakpoint(phone) {
		.container {
			display: none;
		}
		.search {
			display: none;
		}
		.fa-caret-down {
			display: block;
			background-color: $white;
		}
		.down:hover .container {
			display: block;
			background-color: $danger;
		}
		.down:hover .fa-caret-down {
			display: none;
		}
	}
}
.blogContent {
	.article {
		&_item {
			a:hover {
				color: $primary;
			}
			&_img {
				width: 49%;
			}
			&_content {
				width: 50%;
				margin-left: 30px;
				.more {
					text-align: right;
					font-size: 36px;
					margin-top: 19px;
					&-sm {
						display: none;
					}
				}
				@include breakpoint(pad) {
					.blog_subtitle {
						margin-bottom: 16px;
					}
					p {
						font-size: 14px;
						line-height: 21px;
						a {
							color: $dark;
							display: block;
						}
					}
					.more {
						display: none;
						&-sm {
							display: inline-block;
							&:hover {
								color: $primary;
							}
						}
					}
				}
			}
			@include breakpoint(phone) {
				flex-direction: column;
				width: 100%;
				margin-bottom: 26px;
				&_img {
					width: 100%;
				}
				&_content {
					width: 100%;
					margin-left: 0;
					.blog-sm {
						display: none;
					}
				}
			}
		}
	}
}
.articleContent {
	.breadcrumb {
		&_item {
			position: relative;
			margin-right: 32px;
			margin-bottom: 16px;
			a {
				color: $dark;
			}
			@include breakpoint(pad) {
				font-size: 14px;
				margin-bottom: 8px;
			}
			@include breakpoint(phone) {
				margin-right: 16px;
			}
			&:first-child::before {
				content: "";
			}
			&::before {
				content: "/";
				color: #555;
				position: absolute;
				left: -20px;
				@include breakpoint(pad) {
					top: -2px;
				}
				@include breakpoint(phone) {
					left: -10px;
				}
			}
		}
		.active {
			color: $primary;
		}
	}

	.article {
		width: 74.1%;
		margin-right: 30px;
		&_item {
			margin-bottom: 36px;
		}
		p {
			padding-right: 76px;
			color: #0a0a0a;
		}
		@include breakpoint(phone) {
			width: 100%;
			p {
				padding-right: 0;
			}
		}
	}
	@include breakpoint(phone) {
		.articleMain {
			flex-direction: column;
		}
	}
	.share {
		padding-bottom: 20px;
		border-bottom: 1px solid $dark;
		@include breakpoint(phone) {
			padding-bottom: 11px;
		}
	}
	.linkTo {
		padding-top: 20px;
		.pre {
			img {
				margin-right: 8px;
			}
		}
		.nex {
			flex-direction: row-reverse;
			img {
				margin-left: 8px;
			}
		}
		a {
			color: $dark;
			&:hover {
				color: $primary;
			}
		}
		@include breakpoint(phone) {
			flex-direction: column;
			padding-top: 11px;
			.pre {
				margin-bottom: 8px;
			}
			.nex {
				flex-direction: row;
				img {
					margin-right: 8px;
					margin-left: 0;
				}
			}
		}
	}

	.hashtag {
		color: $primary;
		width: 25%;
		a {
			color: $primary;
			font-size: 24px;
			line-height: 36px;
			margin-right: 24px;
			font-weight: 800;
		}
		@include breakpoint(pad) {
			img {
				width: 24px;
				height: 24px;
			}
			a {
				font-size: 16px;
				margin-right: 16px;
			}
		}
		@include breakpoint(phone) {
			width: 100%;
			&_title {
				font-size: 20px;
				margin-bottom: 11px;
				margin-top: 39px;
			}
		}
	}
}
