.location {
	.mapSelect {
		width: 45%;
    margin-bottom: 38px;
		.selection {
			font-size: 24px;
			width: 21.82%
		}
		select {
			width: 73.64%;
		}
		@include breakpoint(pad) {
			width: 50%;
			.selection {
				font-size: 16px;
      }
		}
		@include breakpoint(phone) {
			width: 100%;
			select {
				width: 65.8%;
				height: 36px;
			}
		}
	}
	.locationCard {
		&_item {
			border: 1px solid #00000020;
			width: calc(100% / 3 - 30px);
			margin: 0 15px 52px;
			img{
				width: 100%;
			}
		}
		&_header {
			padding: 16px 12px;
		}
		&_body {
			font-size: 20px;
			line-height: 30px;
			padding: 16px 24px;
			border-top: 1px solid #00000020;
			img {
				width: 21px;
				height: 21px;
				margin-right: 8px;
			}
		}
		&_footer {
			a {
				background-color: $dark;
				color: $white;
				display: block;
				text-align: center;
				padding: 20px 0;
				&:hover {
					background-color: $light;
					color: $dark;
				}
			}
		}
		@include breakpoint(pad) {
			&_item {
				width: calc(100% / 2 - 30px);
			}
			&_header {
				font-size: 16px;
				line-height: 24px;
				padding: 16px 8px;
			}
			&_body {
				font-size: 14px;
				line-height: 21px;
				padding: 16px 16px;
				border-top: 1px solid #00000020;
				img {
					width: 20px;
					height: 20px;
					margin-right: 16px;
				}
			}
			&_footer {
				a {
					font-size: 14px;
					line-height: 21px;
					padding: 16px 0;
				}
			}
		}
		@include breakpoint(phone) {
			&_item {
				width: 100%;
			}
		}
	}
}
.storeContent {
	.storeSelect {
    width: 40.09%;
    margin-bottom: 32px;
		.selection {
			font-size: 24px;
		}
		select {
			width: 73%;
			height: 45px;
		}
		@include breakpoint(pad) {
			width: 50%;
      .selection {
        font-size: 16px;
      }
    }
		@include breakpoint(phone) {
			width: 100%;
      .selection {
        font-size: 14px;
      }
		}
	}
	.storeCard {
		.content{
			width: 40%
		}
		&_img {
			height: 224px;
			background: url("https://hexschool.github.io/webLayoutTraining1st/week4/locate.png") center center no-repeat;
			background-size: cover;
		}
		&_info {
			border: 1px solid #00000020;
			&_name {
				padding: 24px 12px;
			}
			&_list {
				border-top: 1px solid #00000020;
				padding: 24px 16px;
				img {
					margin-right: 12px;
					width: 21px;
					height: 21px;
				}
			}
		}
		&_map {
			width: 57.2%;
		}
		@include breakpoint(pad) {
			flex-direction: column;
			.content {
				width: 100%;
				display: flex;
				flex-direction: row;
				margin-bottom: 32px;
				font-size: 14px;
			}
			&_img {
				width: 50%;
				margin-right: 30px;
			}
			&_info {
				width: 50%;
				&_name {
					font-size: 16px;
				}
				&_list {
					img {
						width: 20px;
						height: 20px;
					}
				}
			}
			&_map {
				width: 100%;
				height: 465px;
				margin-left: 0;
			}
		}
		@include breakpoint(phone) {
			.content {
				width: 100%;
				flex-direction: column;
				margin-bottom: 16px;
			}
			&_img {
				width: 100%;
			}
			&_info{
				width: 100%;
			}
			&_map {
				position: relative;
				padding-bottom: 70%;
				padding-top: 12px;
				height: 0;
				iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 227px;
				}
			}
		}
	}
}
