.opticalContent {
	.optical {
		&_item {
			width: calc(100% / 4 - 30px);
			margin: 0 15px 104px;
			.content {
				display: flex;
				justify-content: space-between;
				text-transform: uppercase;
				font-size: 24px;
				line-height: 36px;
			}
			.color {
				&-darkBrown {
					background-color: #5f3e2d;
					margin-right: 8px;
					width: 24px;
					height: 24px;
					border-radius: 4px;
				}
				&-lightBrown {
					background-color: #b75929;
					width: 24px;
					height: 24px;
					border-radius: 4px;
				}
			}
			@include breakpoint(pad) {
				width: calc(100% / 2 - 30px);
				img {
					width: 100%;
				}
				.content {
					font-size: 24px;
					line-height: 30px;
				}
			}
			@include breakpoint(phone) {
				width: 100%;
				.content {
					font-size: 16px;
				}
				.color-1,
				.color-2 {
					width: 15px;
					height: 15px;
				}
			}
		}
	}
}
.sunglassesContent {
	.sunglasses {
		&_item {
			width: calc(100% / 3 - 30px);
			margin: 0 15px 104px;
			.content {
				display: flex;
				flex-direction: column;
				text-transform: uppercase;
				font-size: 18px;
				line-height: 30px;
			}
			.color {
				&-darkBrown {
					background-color: #5f3e2d;
					width: 24px;
					height: 24px;
					border-radius: 4px;
					margin-right: 8px;
				}
				&-lightBrown {
					background-color: #b75929;
					width: 24px;
					height: 24px;
					border-radius: 4px;
				}
			}

			@include breakpoint(pad) {
				width: calc(100% / 2 - 30px);
				img {
					width: 100%;
				}
				.content {
					flex-direction: row;
					justify-content: space-between;
					font-size: 24px;
					line-height: 30px;
				}
			}
			@include breakpoint(phone) {
				width: 100%;
				.content {
					font-size: 16px;
				}
				.color-1,
				.color-2 {
					width: 15px;
					height: 15px;
				}
			}
		}
	}
}
